<div class="bg-news opacity-80 mt-40 rounded-3xl">
  <h1 class="text-8xl uppercase text-center pt-8 text-four">
    Event du moment
  </h1>
  <div class="flex flex-row mt-16">
   <%= render "feed/tree"%>
   <div class="flex flex-col justify-center pl-40 text-four font-custom font-semibold">
    <p class="text-5xl w-3/5">Toute l’équipe de Music Records vous souhaite de bonnes fêtes de Noël</p>
    <p class="text-5xl w-3/5 mt-8">Composez vos morceaux avec des instruments pour Noël !</p>
   </div>
  </div>
</div>