<!-- <section class="bg-sign-in bg-cover  backdrop-blur-3xl bg-no-repeat h-screen overflow-hidden font-custom">
  <div class="flex flex-col lg:flex-row">
    <div class="xl:container xl:mx-auto">
  
        <div class="flex  flex-col md:flex-row h-screen justify-center items-center mb-3">
          <%= render 'new_form'%>
      </div>
    </div>
  </div>
</div>
</section> -->