<section class="flex flex-row mt-40 justify-between">
    <a class="h-96 w-96 bg-secondary rounded-xl brightness-75 hover:brightness-100 duration-150" href="<%= profil_index_path%>">
        <div class="flex justify-center mt-14">
            <svg width="85" height="123" viewBox="0 0 85 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.4696 55.1806C41.8611 55.1195 41.1309 55.1195 40.4615 55.1806C33.4771 54.9426 26.8593 51.9852 22.0094 46.9348C17.1595 41.8844 14.4585 35.1376 14.4784 28.1231C14.4784 13.1589 26.5268 1.00441 41.496 1.00441C45.04 0.94024 48.5619 1.57736 51.8606 2.87938C55.1593 4.1814 58.1702 6.12283 60.7214 8.59282C63.2725 11.0628 65.3141 14.013 66.7294 17.2749C68.1447 20.5368 68.906 24.0466 68.9699 27.6039C69.0339 31.1612 68.3991 34.6962 67.102 38.0073C65.8048 41.3183 63.8706 44.3405 61.4098 46.9012C58.949 49.4619 56.0098 51.5111 52.7601 52.9317C49.5103 54.3523 46.0136 55.1165 42.4696 55.1806ZM12.0444 77.7184C-2.68145 87.6131 -2.68145 103.738 12.0444 113.571C28.7782 124.81 56.2218 124.81 72.9557 113.571C87.6815 103.677 87.6815 87.552 72.9557 77.7184C56.2826 66.5411 28.8391 66.5411 12.0444 77.7184Z" fill="#0D1A26" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                    
        </div>
        <p class="text-5xl text-center font-light mt-8 font-custom">Profil</p>              
    </a>
    <a class="h-96 w-96 bg-third rounded-xl brightness-75 hover:brightness-100 duration-150" href="<%= drums_path%>">
        <div class="flex justify-center mt-14">
            <svg width="110" height="119" viewBox="0 0 110 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M91.7862 43.2L11.0333 91.8963C6.27913 94.7488 0.166626 91.353 0.166626 85.7838V31.4505C0.166626 7.74754 25.7712 -7.05829 46.35 4.75921L77.5237 22.6892L91.7183 30.8392C96.4046 33.6238 96.4725 40.4155 91.7862 43.2ZM95.8544 82.9992L68.3482 98.8917L40.9098 114.716C31.0619 120.353 19.9236 119.199 11.8415 113.494C7.90233 110.777 8.37775 104.733 12.5207 102.288L98.8428 50.535C102.918 48.09 108.283 50.3992 109.03 55.0855C110.728 65.6125 106.382 76.9546 95.8544 82.9992Z" fill="#0D1A26"/>
            </svg>                                
        </div>
        <p class="text-5xl text-center font-light mt-8 font-custom">Jouer</p>              
    </a>
    <a href="" class="h-96 w-96 bg-five rounded-xl brightness-75 hover:brightness-100 duration-150">
        <div class="flex justify-center mt-14">
            <svg width="132" height="135" viewBox="0 0 132 135" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M121.622 72.4105C119.14 72.4105 117.06 70.5322 116.792 68.0501C116 60.764 113.648 53.7338 109.898 47.437C106.148 41.1401 101.086 35.7241 95.0571 31.5568C94.5312 31.1926 94.0825 30.728 93.7369 30.1897C93.3913 29.6514 93.1556 29.0501 93.0434 28.4203C92.9312 27.7906 92.9446 27.1449 93.083 26.5203C93.2213 25.8958 93.4819 25.3048 93.8496 24.7814C95.3925 22.5676 98.4113 22.0309 100.625 23.5739C107.793 28.552 113.813 35.0069 118.279 42.5048C122.746 50.0028 125.555 58.3699 126.519 67.0439C126.788 69.7272 124.842 72.1422 122.159 72.4105H121.622ZM10.1296 72.7392H9.66C8.37093 72.6039 7.1881 71.963 6.37075 70.957C5.5534 69.951 5.16821 68.6621 5.29958 67.3726C6.19316 58.7162 8.93062 50.3516 13.3277 42.8418C17.7249 35.3319 23.6796 28.8511 30.7913 23.8355C32.9379 22.2926 36.0238 22.8292 37.5667 24.9759C39.1096 27.1896 38.5729 30.2084 36.4263 31.7513C30.4569 35.9654 25.4588 41.4083 21.7677 47.7144C18.0766 54.0205 15.7781 61.0436 15.0267 68.3117C14.7583 70.8609 12.6117 72.7392 10.1296 72.7392ZM92.3067 128.546C84.0554 132.504 75.2004 134.516 65.9429 134.516C56.2829 134.516 47.0925 132.37 38.5058 128.009C37.9331 127.728 37.4222 127.335 37.0032 126.854C36.5841 126.373 36.2653 125.813 36.0654 125.207C35.8654 124.601 35.7885 123.961 35.8389 123.325C35.8894 122.689 36.0662 122.069 36.3592 121.502C37.4996 119.087 40.4512 118.148 42.8662 119.288C47.0925 121.435 51.5871 122.911 56.1488 123.783C62.3204 124.99 68.6263 125.058 74.7979 123.984C79.3596 123.179 83.8542 121.77 88.0133 119.758C90.4954 118.618 93.4471 119.557 94.5204 122.039C95.7279 124.454 94.7888 127.405 92.3067 128.546ZM65.8758 0.497192C55.4779 0.497192 46.9583 8.94969 46.9583 19.4147C46.9583 29.8797 55.4108 38.3322 65.8758 38.3322C76.3408 38.3322 84.7933 29.8797 84.7933 19.4147C84.7933 8.94969 76.3408 0.497192 65.8758 0.497192ZM18.9175 80.0513C8.51958 80.0513 0 88.5038 0 98.9688C0 109.434 8.4525 117.886 18.9175 117.886C29.3825 117.886 37.835 109.434 37.835 98.9688C37.835 88.5038 29.3154 80.0513 18.9175 80.0513ZM112.163 80.0513C101.765 80.0513 93.2458 88.5038 93.2458 98.9688C93.2458 109.434 101.698 117.886 112.163 117.886C122.628 117.886 131.081 109.434 131.081 98.9688C131.081 88.5038 122.628 80.0513 112.163 80.0513Z" fill="#F2F2F2"/>
            </svg>                            
        </div>
        <p class="text-5xl text-center font-light text-four mt-8 font-custom">Profil</p>              
    </a>
</section>